@layer vuetify-overrides {
  code,
  pre,
  .v-code {
    font-family: var(--font-mono);
  }
}

html,
body,
#app,
.v-application,
.v-application__wrap {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-body);
  color: var(--color-on-surface);
  display: flex;
  justify-content: center;
}

p {
  margin: 1em 0;
}
code,
pre {
  font-size: 0.8em;
  background-color: AliceBlue;
  padding: 0.2em 0.4em;
  border-radius: 4px;
}

pre {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  overflow-x: auto;
}
